$PRIMARY: #137E43;
$PRIMARY-LIGHT: #74B73B;
$PRIMARY-DIM: #E7F2EC;
$SECONDARY: #313C91;
$SECONDARY-LIGHT: #00A1DF;
$SECONDARY-DIM: #D7F4FF;
$DARK:#15181E;
$BODY:#333;
$LIGHT:#A8B3C4;
$WHITE:#fff;
$BORDER:#ECECEC;
$YELLOW:#FFAB07;