// $PRIMARY: #137E43;
$PRIMARY: #5BA642;
$PRIMARY-LIGHT: #74B73B;
$PRIMARY-DIM: #E7F2EC;
$SECONDARY: #313C91;
$SECONDARY-LIGHT: #00A1DF;
$SECONDARY-DIM: #D7F4FF;
$DARK:#15181E;
$BODY:#333;
$LIGHT:#A8B3C4;
$WHITE:#fff;
$BORDER:#ECECEC;
$YELLOW:#FFAB07;
$GREENLIGHT:#137E43;



$SUCCESS:  linear-gradient(180deg, rgba(235,255,235,1) 0%, rgba(190,255,191,1) 50%, rgba(235,255,235,1) 100%);
$DANGER:  linear-gradient(180deg, rgba(255,143,143,1) 0%, rgba(255,92,92,1) 50%, rgba(255,153,153,1) 100%);;
$YELLOW: linear-gradient(180deg, rgba(255,251,200,1) 0%, rgba(255,246,143,1) 50%, rgba(255,251,200,1) 100%);


.success{
    background: $SUCCESS;
}

.danger{
    background: $DANGER;
}

.yellow{
    background: $YELLOW;
}