@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: $WHITE;
  --foreground: $BODY;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: $BLACK;
    --foreground: $WHITE;
  }
}
.checkbox:checked, .checkbox[aria-checked=true] {
  background-repeat: no-repeat;
  animation: checkmark var(--animation-input, 0.2s) ease-out;
  background-color: var(--chkbg);
  background-image: linear-gradient(-45deg, transparent 65%, var(--chkbg) 65.99%), linear-gradient(45deg, transparent 75%, var(--chkbg) 75.99%), linear-gradient(-45deg, var(--chkbg) 40%, transparent 40.99%), linear-gradient(45deg, var(--chkbg) 30%, oklch(1 0 0) 30.99%, oklch(1 0 0) 40%, transparent 40.99%), linear-gradient(-45deg, oklch(1 0 0) 50%, var(--chkbg) 50.99%);
}

body {
  color: #333;
  background: var(--background);
  @apply sm:text-base text-sm leading-[1.7];
}

h1, h2, h3, h4, h5, h6 {
  @apply text-dark;
}

input {
  outline: none;
}

.input, .stdropdown-input {
  @apply input-bordered w-full focus:outline-none;
}

textarea {
  @apply min-h-[120px] py-3;
}

small {
  @apply text-[12px];
}

.badge {
  @apply size-6 bg-primary text-white text-xs absolute top-[-5px] right-[-15px] font-normal;
}

.container {
  @apply mx-auto sm:px-[30px] px-[20px];
}

.spacing, section {
  @apply sm:py-12 py-6;
}

.spacing-sm {
  @apply py-6;
}

.section-title {
  @apply sm:text-xl text-base font-semibold;
}

.more {
  @apply font-semibold sm:text-[16px] text-[14px] text-primary hover:text-primary-hover transition-all;
}

.banner {
  @apply sm:rounded-xl rounded-md;
}

.content {
  @apply leading-relaxed;
}
.content a, .content p, .content li {
  @apply text-body mb-5;
}
.content * {
  @apply last:mb-0;
}
.content a {
  @apply text-primary hover:opacity-50 transition-all;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  @apply text-dark font-bold mb-2;
}
.content h1 {
  @apply text-lg;
}
.content h2 {
  @apply text-base;
}
.content h3 {
  @apply text-base;
}
.content h4 {
  @apply text-sm;
}
.content h5 {
  @apply text-xs;
}
.content h6 {
  @apply text-xs;
}
.content img {
  @apply rounded-lg my-7;
}

.btn {
  @apply rounded-lg whitespace-nowrap sm:text-[16px] text-[14px] bg-primary hover:bg-primary-hover  sm:h-[45px] h-[40px] min-h-[40px] text-white font-semibold transition-all;
}

.btn-large {
  @apply rounded-lg whitespace-nowrap sm:text-[16px] text-[14px] bg-primary hover:bg-primary-hover px-[20px] sm:h-[55px] h-[55px] min-h-[55px] text-white font-semibold transition-all;
}

.btn-medium {
  @apply sm:h-[45px] h-[40px] min-h-[40px] sm:text-[14px] px-[16px];
}

.btn-light {
  @apply whitespace-nowrap  bg-white rounded-md border border-border hover:bg-white hover:border-primary  text-dark font-semibold transition-all;
}

input[type=email], input[type=text], input[type=number], input[type=password], .stdropdown-input, select {
  @apply input-md rounded-md text-dark border;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.product-card {
  @apply bg-white rounded-[12px]  border  border-border flex-col justify-start items-start inline-flex sm:hover:shadow-lg transition-all;
}
.product-card .img-box {
  @apply w-full min-h-[190px] p-[5px]  justify-center items-center gap-2.5 inline-flex;
}
.product-card .img-box img {
  @apply w-[152px] h-[152px] object-contain;
}
.product-card .btn {
  @apply rounded-md  text-[12px] font-bold border-primary bg-primary-dim text-primary uppercase sm:h-[35px] h-[30px] min-h-[30px] sm:px-4 px-3 hover:bg-primary hover:text-white hover:shadow-lg;
}
.product-card .product-title {
  @apply text-sm line-clamp-1 text-dark;
}
.product-card .product-price {
  @apply text-[0.875rem] font-bold text-dark;
}
.product-card .product-price-regular {
  @apply text-[0.875rem] line-through opacity-50;
}
.product-card .product-offer {
  @apply text-[12px];
  color: #137E43;
}
.product-card .count {
  @apply bg-yellow flex items-center text-dark rounded px-1 gap-[2px] sm:text-[11px] text-[10px] leading-[10px] font-semibold py-[4px] pl-[5px];
}

.count {
  @apply bg-yellow flex items-center text-dark rounded px-1 gap-[2px] sm:text-[11px] text-[10px] leading-[10px] font-semibold py-[4px] pl-[5px];
}

.count-large {
  @apply bg-yellow flex items-center text-dark rounded px-2 gap-[4px] sm:text-[11px] text-[10px] leading-[10px] font-semibold py-[6px];
}

.product-card-left-right-mobile {
  @apply bg-white sm:rounded-[12px]  sm:border sm:border-r border-b border-border sm:flex-col sm:justify-start items-start sm:inline-flex sm:hover:shadow-lg transition-all;
}
.product-card-left-right-mobile .img-box {
  @apply w-full min-h-[190px] p-[5px]  justify-center items-center gap-2.5 inline-flex;
}
.product-card-left-right-mobile .img-box img {
  @apply w-[152px] h-[152px] object-contain;
}
.product-card-left-right-mobile .btn {
  @apply rounded-md  text-[12px] font-bold border-primary bg-primary-dim text-primary uppercase sm:h-[35px] h-[30px] min-h-[30px] sm:px-4 px-3 hover:bg-primary hover:text-white hover:shadow-lg;
}
.product-card-left-right-mobile .product-title {
  @apply text-sm line-clamp-1 text-dark;
}
.product-card-left-right-mobile .product-price {
  @apply text-[0.875rem] font-bold text-dark;
}
.product-card-left-right-mobile .product-price-regular {
  @apply text-[0.875rem] line-through opacity-50;
}
.product-card-left-right-mobile .product-offer {
  @apply text-[12px];
  color: #137E43;
}
.product-card-left-right-mobile .count {
  @apply bg-yellow flex items-center text-dark rounded px-1 gap-[2px] sm:text-[11px] text-[10px]  leading-[10px] font-semibold py-[4px] pl-[5px];
}

.product-card-left-right {
  @apply bg-white transition-all last:border-none;
}
.product-card-left-right .img-box {
  @apply w-full min-h-[190px] p-[5px]  justify-center items-center gap-2.5 inline-flex;
}
.product-card-left-right .img-box img {
  @apply w-[152px] h-[152px] object-contain;
}
.product-card-left-right .btn {
  @apply rounded-md  text-[12px] font-bold border-primary bg-primary-dim text-primary uppercase sm:h-[35px] h-[30px] min-h-[30px] sm:px-4 px-3 hover:bg-primary hover:text-white hover:shadow-lg;
}
.product-card-left-right .product-title {
  @apply text-sm line-clamp-1 text-dark;
}
.product-card-left-right .product-price {
  @apply text-[0.875rem] font-bold text-dark;
}
.product-card-left-right .product-price-regular {
  @apply text-[0.875rem] line-through opacity-50;
}
.product-card-left-right .product-offer {
  @apply text-[12px];
  color: #137E43;
}
.product-card-left-right .count {
  @apply bg-yellow flex items-center text-dark rounded px-1 gap-[2px] text-[11px] leading-[10px] font-semibold py-[4px] pl-[5px];
}

header {
  @apply flex items-center justify-between gap-[30px] z-[999] relative;
}
header .logo {
  @apply flex items-center justify-center;
}
header .logo img {
  @apply sm:h-[4.15269rem] h-[50px] w-full block;
}
header a {
  @apply hover:opacity-50 transition-all;
}

.search {
  @apply flex items-center gap-[10px] justify-between lg:rounded-full rounded-lg border sm:p-[5px] p-[3px];
}
.search input {
  @apply border-none bg-transparent rounded-full w-full shadow-transparent;
}
.search div:not(.clear-icon) {
  @apply w-full shadow-transparent;
}
.search * {
  box-shadow: rgba(32, 33, 36, 0.28) 0px 0px 0px 0px !important;
}
.search .result-item {
  @apply font-semibold py-3 cursor-pointer;
}
.search .dYrfwz {
  justify-content: space-between !important;
}
.search .jiMOeR .wrapper {
  border: 0 !important;
}
.search .jiMOeR .wrapper:hover, .search .jiMOeR .wrapper:focus {
  box-shadow: rgba(32, 33, 36, 0.28) 0px 0px 0px 0px;
}
.search .btn {
  @apply lg:rounded-full rounded-md;
}

footer a, footer p {
  @apply text-sm font-light text-white;
}
footer a {
  @apply hover:opacity-50 transition-all;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  @apply text-lg text-white;
}
footer ul li, footer ol li {
  @apply mb-2 text-white;
}

.testimonials p {
  @apply lg:text-[30px] text-lg font-bold leading-normal;
}

.ready-to-go-cart {
  @apply bg-white fixed lg:bottom-5 lg:right-5 left-0 lg:left-auto right-0 bottom-[55px] lg:rounded-md p-4 flex items-center gap-3 min-w-[200px] justify-between border border-border transition-all;
}

.products .slick-slide {
  @apply sm:mr-4 mr-4;
}
.products .slick-slide:last-child {
  margin-right: 1px !important;
}
.products .slick-track {
  display: flex !important;
}

@media (hover: hover) {
  @supports (color: oklch(0% 0 0)) {
    :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(.active, .btn):hover, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(.active, .btn):hover {
      @apply text-primary  bg-primary-dim;
    }
  }
}
.pagination a, .pagination button {
  @apply sm:size-11 size-8 rounded-full p-3 bg-white border border-border flex items-center justify-center sm:text-sm text-xs text-body transition-all hover:bg-primary hover:text-white;
}
.pagination .active {
  @apply bg-primary text-white;
}

.product-single h1 {
  @apply sm:text-3xl text-2xl font-bold leading-normal;
}
.product-single .product-price {
  @apply text-2xl font-bold leading-normal text-dark;
}
.product-single .normal-price {
  @apply text-base line-through opacity-50;
}
.product-single .offer {
  @apply text-base font-medium text-primary leading-none;
}

.select-options {
  @apply mt-4 grid gap-3;
}
.select-options li {
  @apply sm:border-none border sm:rounded-none rounded-lg sm:p-0 p-4 flex gap-3 items-center justify-start text-dark;
}

.features {
  @apply inline-flex items-center gap-2 rounded-md bg-primary-dim pl-2 pr-2 py-1 text-xs text-primary hover:scale-105 transition-all hover:font-semibold hover:shadow-lg;
}

.icon-social-share {
  @apply size-9 rounded-full hover:opacity-55 transition-all;
}

.review-list {
  @apply grid;
}
.review-list li {
  @apply border-b py-6 grid gap-3 last:border-none last:pb-3 first:pt-0;
}

.card {
  @apply rounded-[8px];
  @apply sm:rounded-[12px];
  @apply sm:p-10 p-6 border border-border;
}

.card-sm {
  @apply rounded-[8px];
  @apply sm:rounded-[12px];
  @apply sm:p-8 p-6 border border-border;
}

.card-rounded-none-small {
  @apply rounded-none;
  @apply sm:rounded-[12px];
  @apply sm:p-8 p-6 sm:border border-border;
}

.added-cart-list li {
  @apply lg:flex items-center justify-between gap-8 border-b border-border sm:pb-3 py-6 first:pt-0;
}
.added-cart-list button.option-btn {
  @apply whitespace-nowrap join-item text-sm font-normal lg:hover:bg-primary-dim sm:hover:border-transparent lg:px-[20px] lg:h-[45px] lg:min-h-[40px] px-[10px] sm:h-[30px] h-[35px] min-h-[30px] lg:border sm:border-0 border sm:rounded-lg rounded-md;
}

.general-list li {
  @apply lg:flex items-center justify-between gap-8 border-b border-border  sm:mb-4 mb-3 last:border-0 last:mb-0;
}
.general-list button.option-btn {
  @apply whitespace-nowrap join-item text-sm font-normal lg:hover:bg-primary-dim hover:border-transparent lg:px-[20px] lg:h-[45px] lg:min-h-[40px] px-[10px] h-[30px] min-h-[30px] lg:border border-0;
}

.coupon-code input {
  @apply font-bold uppercase tracking-widest placeholder:tracking-normal placeholder:lowercase placeholder:font-normal;
}

.amount-list {
  @apply grid gap-3;
}
.amount-list li {
  @apply flex items-center justify-between text-sm;
}
.amount-list li .val {
  @apply text-dark block p-0 m-0 font-semibold;
}
.amount-list li .label {
  @apply block p-0 m-0;
}

.table-amount-list li {
  @apply flex items-center justify-between text-sm pb-1 mb-1 last:mb-0 last:pb-0 last:border-0;
}
.table-amount-list li .val {
  @apply text-dark;
}

.list-options {
  @apply border-b border-border py-7 first:pt-0 gap-4 grid;
}
.list-options div {
  @apply flex gap-3;
}
.list-options div div.inner {
  @apply flex items-center gap-4;
}
.list-options div button {
  @apply flex gap-2 items-center;
}

.list-options-small {
  @apply gap-0 grid;
}
.list-options-small div {
  @apply flex gap-3;
}
.list-options-small div div.inner {
  @apply flex items-center gap-4;
}
.list-options-small div button {
  @apply flex gap-2 items-center;
}

*, *:focus, *:hover {
  outline: none;
}

.stdropdown-container {
  border: 0 !important;
}

.stdropdown-input {
  padding: 10px !important;
}

.stsearch-box input {
  border: 0 !important;
  background: transparent !important;
}

.stdropdown-tools svg {
  display: none !important;
}

.list-order-view {
  @apply lg:flex grid  lg:justify-end lg:items-center lg:gap-4 gap-3 mt-5 lg:mt-0;
}
.list-order-view li {
  @apply w-full flex justify-between gap-1 lg:font-bold  lg:uppercase  items-center lg:text-xs text-sm whitespace-nowrap border-0 m-0 lg:border-r lg:pr-4 last:pr-0 last:border-r-0;
}
.list-order-view li label {
  @apply flex items-center justify-between capitalize lg:text-xs text-sm font-normal lg:hidden;
}

.alert svg {
  @apply min-w-4 min-h-4;
}